{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">

            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="h3">
                                    Об авторе
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="h6 text-muted">
                                    <p>Возраст: 31</p>
                                    <p>Гороскоп: Водолей</p>
                                    <p>Цвет: Синий</p>
                                    <p><a href="mailto:9588604@gmail.com">9588604@gmail.com</a>
                                    </p>
                                    <p>
                                        <a href="https://de0.ru/">https://de0.ru</a>
                                    </p>
                                    <p>
                                        <a href="https://www.youtube.com/channel/UCQejlZ1K59n1vFAMntNTOLQ">YouTube</a>
                                    </p>
                                    <p>
                                        <a href="https://www.facebook.com/iggor.markin">Facebook</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card-body">
                    <div class="card-text">
                        <h2>Меня зовут Игорь. Вот пара фактов обо
                            мне.</h2>
                        <p class="text-center">
                            <img src="https://de0.ru/pictures/collage.jpg" width="100%">
                        </p>
                        <ul>
                            <li>
                                Последние шесть лет параллельно с фрилансом
                                работал в частном театре. Из-за ограничений на
                                культурные мероприятия люди перестали
                                заказывать спектакли, поэтому я решил сменить
                                профессию. До этого я немного работал с Basic,
                                DarkBasic, Pascal, JavaScript, Delphi и PHP, но
                                всё это померкло на фоне знакомства с Python. Я
                                прошёл бесплатные курсы по основам языка,
                                прочитал философию Тима Петерса и тогда понял,
                                что мы нашли друг друга: мне близки идеи
                                создавать красивое и упрощать сложное.
                            </li>
                            <li>
                                Интересуюсь новостями и мыслями из сферы IT:
                                смотрю видео Тимофея Хирьянова, Сергея
                                Немчинского, Senior Software Vlogging и
                                Диджитализируй. Подписан на журнал "Код", читаю
                                "Хабр" и не стесняюсь познавать мир через Stack
                                Overflow. В свободное время создаю игры на
                                Python. Благодаря книге Виктора Трофимова
                                "Программирование игр" понял, что язык
                                практически не имеет ограничений и его можно
                                использовать для творчества и развлечения.
                            </li>
                            <li>
                                Веду блог, где рассказываю о программировании,
                                чтобы самому лучше разобраться в профессии.
                                Работаю над конструктором квизов на Django. Это
                                веб-приложение, где пользователи могут отвечать
                                на вопросы и создавать свои викторины.
                                Благодаря этому проекту я получил от JetBrains
                                бесплатную лицензию на всех их продукты.
                            </li>
                            <li>
                                До этого 6 лет работал актёром театра :)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}